<h2>Create a New Lesson</h2>
<div class="row">
    <div class="large-8 columns">
        <div class="row">
            <div class="large-2 columns">
                <label for="lesson_number" class="left inline">Lesson Number:</label>
            </div>
            <div class="large-2 columns">
                {{input type='text' value=lessonNumber id='lesson_number'}}
            </div>
            <div class="large-2 columns">
                <label for="lesson_title" class="right inline">Lesson Title:</label>
            </div>
            <div class="large-6 columns">
                {{input type='text' value=lessonTitle id='lesson_title'}}
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="large-8 columns">
        <div class="row">
            <h2>Lesson Text</h2>
            {{lesson-body}}
        </div>
        <div class="row">
            <h2>Lesson Code Sample</h2>
            {{lesson-code}}
        </div>
    </div>
</div>
<div class="row">
    <button id="save_lesson" {{action 'saveLesson'}}>Save</button>
</div>
